@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

// Fontes
$fontePrincipal: "Quicksand", serif;

// Cores
$bodyBackground: #f5f6fa;
$headerBackground: #182C61;
$textColor: #fff;
$buttonColor: #44bd32;

// Breakpoints
$tablet: 1023px;
$mobile: 767px;